.wd-bg-color-black { background-color: black; }
.wd-bg-color-dark-gray { background-color: darkgray;}

.wd-fg-color-white { color: white; }
.wd-fg-color-highlight { color: rgb(29, 161, 242) }
.wd-fg-color-no-highlight { color: rgb(110, 118, 125) }



/* Flex */
.wd-container {
  display: flex;
  justify-content: space-around;
}

.wd-links {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.wd-search-bar::placeholder {
  color: white;
  padding-left: 7%;
}

.wd-topic-text {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.wd-tuit-image {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-left: 15%;
}

.wd-search-container {
  display: flex;
  align-items: center;
}

.wd-border {
  border: 1px;
  border-style: solid;
  color: rgb(47, 51, 54);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
}

.wd-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.wd-gear-icon {
  margin-left: 15%;
}

.wd-border-bottom-highlighted {
  border-bottom: 3px;
  border-bottom-style: solid;
  color: rgb(29, 161, 242);
}

.wd-tuit-container {
  display: flex;
  align-items: center;
}

.wd-tuit-text-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}


.wd-bookmarks-title {
  font-size: 20px;
  color: white;
}

.wd-bookmarks-handle {
  font-size: 13px;
  color: lightgrey;
}

.wd-avatar-image {
  border-radius: 24px;
  width: 48px;
  height: 48px;
  margin-bottom: 600px;
  margin-right: 12px;
}

.wd-post-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wd-author-text {
  color: white;
  font-size: 15px;
}

.wd-handle-text {
  color: lightgrey;
  font-size: 15px;
  margin-left: 15px;
}

.wd-main-content-text {
  color: white;
  font-size: 15px;
  width: 506px;
}

.wd-post-image {
  width: 504px;
  height: 264px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.wd-title-text {
  color: white;
  font-size: 15px;
  /* padding: 12px; */
  width: 504px;
}

.wd-content-text {
  color: lightgrey;
  font-size: 15px;
  margin-left: 15px;
  /* padding: 12px; */
  width: 504px;
}

.wd-border-content {
  border: 1px;
  border-style: solid;
  border-radius: 20px;
  color: rgb(47, 51, 54);
}

.wd-stats-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
}

.wd-stat-no-highlight {
  color: lightgrey;
}

.wd-stat-highlight {
  color: red;
}

.wd-border-round {
  border-radius: 50px;
}

.wd-color-blue {
  color: blue;
}

input::placeholder {
  padding-left: 30px;
}

.wd-list-header-text {
  font-weight: bold;
}

.wd-profile-icon-image {
  width: 48px;
  height: 48px;
}